<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>872576359650-8eeahc7rb8o6qs5qd4j24b4g9p265v2c.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.872576359650-8eeahc7rb8o6qs5qd4j24b4g9p265v2c</string>
	<key>API_KEY</key>
	<string>AIzaSyCLO1WH0OE2EJr1g8YoQ1rRKTlCDos55rg</string>
	<key>GCM_SENDER_ID</key>
	<string>872576359650</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.dbs2FrontEnd</string>
	<key>PROJECT_ID</key>
	<string>dbs-cool-fim-project</string>
	<key>STORAGE_BUCKET</key>
	<string>dbs-cool-fim-project.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:872576359650:ios:355990729fcd78420152bb</string>
</dict>
</plist>